* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container  {    
    width: 100vw;
    height: 100vh ;
    background-color: rgb(209, 208, 208);
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: center;
}

.dado {
    height: 150px;
    width: 150px;
    background-color: white;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
}

.d6 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.d-dot-site {
    width: 100%;
    height: 33%;
    display: flex;
    justify-content: space-around;
    align-items: center;   
    
}

.padLeft {
    padding-left: 20px;
}
.punto {
    display: block;
    border-radius: 50%;
    background-color: black;
    height: 25px;
    width: 25px;
}
.punto2 {
    border-radius: 50%;
    background-color: black;
    height: 25px;
    width: 25px;
    margin: 10px;

}

.p-vacio {
    width: 50%;
}


.d-p-centro {
    width: 100%;
    height: 34%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.d1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.d-porcentaje {
    height: 34%;
}


h3 {
    font-size: 80px;
    font-weight: bold;
}