* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;  
}

.main_box {
    width: 480px;
    height: 360px;
    position: relative;
    overflow: hidden;
}

.box {
    width:480px;
    height:460px;
    position: absolute;
    top: -100px;
    background-image: url(./pexels-photo-2218344.jpeg) ;
    background-size: cover; 
    transition: 0.6s;   
}


.line-style {
    position: absolute;
    margin: 20px;
    transition-duration: 0.6s;
    opacity: 0;
}
.line-top{
    width: 440px;
    height: 60px;
    top: 0px;
    border-bottom: 5px solid greenyellow;
}
.line-left{
    width: 60px;
    height: 320px;
    left:0px;
    border-right: 5px solid yellow;
}
.line-bottom{
    width: 440px;
    height: 60px;
    top: 260px;
    border-top: 5px solid coral;
}


.line-right{
    width: 60px;
    height: 320px;
    right:0px;
    border-left: 5px solid yellowgreen;
}


.main_box:hover .box {
    transition: .6s;
    transform: translateY(100px);
    filter: sepia(50%);
}

.main_box:hover .line-top {
    transition: .6s;
    opacity: 1;
}

.main_box:hover .line-left {
    transition: .6s;
    opacity: 1;
}

.main_box:hover .line-bottom {
    transition: .6s;
    opacity: 1;
}

.main_box:hover .line-right {
    transition: .6s;
    opacity: 1;
}

